name: publish-stable

on:
  workflow_dispatch: {}


# Declare default permissions as read only.
permissions: read-all

jobs:
  tag:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    outputs:
      next_stable_version: ${{ steps.update_version.outputs.next_stable_version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          egress-policy: audit

      - name: Checkout Repo
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          ref: test-publishing
          token: ${{ secrets.SAI_PAT }}

      - name: Use node@16
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 16.20.0

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@72b6676b71ab476b77e676928516f6982eef7a41 # v5.3.0
        with:
          gpg_private_key: ${{ secrets.SVC_GPG_KEY }}
          passphrase: ${{ secrets.SVC_GPG_PASSPHRASE }}
          git_config_global: true
          git_tag_gpgsign: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update RC candidate version
        run: |
          yarn versionup:stableminor && ./hack/cross-dependency.sh

      - name: Commit changes
        id: update_version
        run: |
          TAG_NAME=$(node -p "require('./lerna.json').version")
          git add .
          git commit -m "Update version to v$TAG_NAME"
          echo "next_stable_version=v$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Create Tag
        run: |
          git tag -a ${{ steps.update_version.outputs.next_stable_version }} -m "${{ steps.update_version.outputs.next_stable_version }}"
          git push origin ${{ steps.update_version.outputs.next_stable_version }}
          git push origin test-publishing

  create-release:
    name: Create Release
    needs: tag
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{ needs.tag.outputs.next_stable_version }}
      prerelease: false

  publish:
    name: Publish
    needs: [tag, create-release]
    permissions:
      contents: write
      checks: write
      id-token: write
      actions: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
      security-events: read
    uses: ./.github/workflows/publish.yml
    with:
      tag: ${{ needs.tag.outputs.next_stable_version }}
